
/* Form Styles */
#form {
	padding: 8.5rem 0;
}
.form__title {
	font-size:1.8 rem;
	color: var(--black-1);
	font-weight: 10;
}
.form__wrapper {
	padding: 3rem 0;
}
.form__wrapper form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}
.form__group label {
	font-size: 1.6rem;
	font-family: Poppins;
	color: var(--black-2);
	font-weight: 500;
}
.form__group input,
.form__group textarea,
.form__group select {
	width: 100%;
	border: none;
	background-color: var(--lightGreen-1);
	font-size: 1.4rem;
	font-family: Raleway;
	font-weight: 600;
	padding: 1.5rem;
	border-radius: 8px;
	margin-top: 0.5rem;
	color: var(--black-2);
}
.form__group textarea {
	resize: vertical;
}
.form__wrapper button[type='submit'] {
	width: max-content;
	border: none;
	padding: 1rem 4rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
}
@media only screen and (min-width: 768px) {
	.form__title {
		font-size: 3.6rem;
	}
	.form__wrapper {
		padding: 5rem 0;
	}
	.form__wrapper form {
		grid-template-columns: 1fr 1fr;
	}
	.form__group__full {
		grid-column: 1/3;
	}
	.form__group label {
		font-size: 1.8rem;
	}
	.form__group input,
	.form__group textarea,
	.form__group select {
		font-size: 1.8rem;
		padding: 2rem;
		margin-top: 1.5rem;
	}
}


.fa-angle-up:before {
    content: "\f106";
}
#scroll-top {
	position: fixed;
	top: -120%;
	right: 2rem;
	padding: 0.5rem 1.5rem;
	font-size: 4rem;
	background: var(--lightGreen-1);
	color: #fff;
	border-radius: 0.5rem;
	transition: 1s linear;
	z-index: 1000;
  }
  
  #scroll-top.active {
	top: calc(100% - 12rem);
  }