/* hero section styles */
.hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 40px;
  }
  
  .hero__left__wrapper {
    max-width: 350px;
  }
  
  .hero__imgWrapper {
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
  }
  
  .hero__heading {
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.4em;
    text-align: center;
    font-size: 18px; 
    margin-bottom: 15px; 
    color: var(--black-1);
  }
  
  .hero__info {
    text-align: center;
    font-size: 14px; 
    margin-bottom: 15px; 
    color: var(--black-2);
  }
  
  .button__wrapper {
    text-align: center;
  }
  
  @media only screen and (min-width: 768px) {
    .hero__wrapper {
      flex-direction: row;
      gap: 0;
    }
  
    .hero__left {
      flex: 3;
    }
  
    .hero__right {
      flex: 4;
    }
  
    .hero__heading {
      font-size: 36px;
      margin-bottom: 20px;
      text-align: left;
    }
  
    .hero__info {
      margin-bottom: 20px;
      text-align: left;
      font-size: 18px;
    }
  
    .button__wrapper {
      text-align: left;
    }
  
    .hero__imgWrapper {
      max-width: none;
      width: 90%;
      position: relative;
      top: -15rem;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .hero__left,
    .hero__right {
      flex: 1;
    }
  }
  

  /* End hero section styles */
  .storeInfo__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: -90px;
  }
  
  .storeInfo__item {
    background-color: var(--lightGreen-1);
    padding: 20px 30px;
    text-align: center;
    text-align: center;
    border-radius: 12px;
    width: 150px;
  }
  
  .storeInfo__icon {
    width: 30px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  
  .storeInfo__title {
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--white-1);
  }
  
  .storeInfo__text {
    font-size: 14px;
    font-family: Raleway;
    color: var(--white-3);
  }
  
  @media only screen and (min-width: 768px) {
    .storeInfo__wrapper {
      gap: 20px;
    }
  
    .storeInfo__item {
      min-width: 200px;
      padding: 40px 0;
    }
  
    .storeInfo__icon {
      width: 47px;
      margin-bottom: 25px;
    }
  
    .storeInfo__title {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    .storeInfo__text {
      font-size: 16px;
    }
  }
  
  /* Store info section styles*/

  /* End Store info section styles*/
/* Our Specials Section Styles */

  #ourSpecials {
    margin-top: 80px;
    padding-top: 80px;
  }
  
  .ourSpecials__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .ourSpecials__left {
    display: flex;
    gap: 10px;
  }
  
  .ourSpecials__item {
    background-color: var(--lightGreen-1);
    padding: 12px;
    padding-top: 50px;
    border-radius: 12px;
    width: 65%;
    margin: 0 auto;
  }
  
  .ourSpecials__item__img {
    margin-top: calc(-50% - 20px);
    margin-bottom: 20px;
    border-radius: 12px;
    height: 150px;
  }
  
  .ourSpecials__item__img img {
    object-fit: cover;
  }
  
  .ourSpecials__item__title {
    font-size: 14px;
    color: var(--white-1);
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .ourSpecials__item__price {
    color: var(--green-2);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .ourSpecials__item__stars {
    height: 15px;
    width: max-content;
    margin-bottom: 10px;
  }
  
  .ourSpecials__item__text {
    font-size: 14px;
    color: var(--white-3);
    font-weight: 500;
  }
  
  .ourSpecials__title {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--black-1);
  }
  
  .ourSpecials__text {
    font-size: 14px;
    color: var(--black-2);
    margin-bottom: 10px;
  }
  
  @media only screen and (min-width: 768px) {
    #ourSpecials {
      padding-top: 15px;
    }
  
    #ourSpecials .container {
      max-width: 900px;
    }
  
    .ourSpecials__wrapper {
      flex-direction: row;
    }
  
    .ourSpecials__right {
      flex: 2;
    }
  
    .ourSpecials__left {
      flex: 4;
      gap: 20px;
    }
  
    .ourSpecials__item {
      padding: 20px;
    }
  
    .ourSpecials__item__title {
      font-size: 24px;
      line-height: 1.4em;
      margin-bottom: 15px;
    }
  
    .ourSpecials__item__price {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    .ourSpecials__item__stars {
      margin-bottom: 20px;
    }
  
    .ourSpecials__item__text {
      font-size: 16px;
    }
  
    .ourSpecials__title {
      font-size: 36px;
      margin-bottom: 15px;
    }
  
    .ourSpecials__text {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }
  
  @media only screen and (max-width: 300px) {
    .ourSpecials__left {
      flex-wrap: wrap;
      gap: 100px;
    }
  
    .ourSpecials__item {
      width: 100%;
    }
  }

/* End Our Specials Section Styles */

  