body{
	text-align: center;
}
#form {
	padding: 136px 0;
	display: inline-block;
	text-align: left;
	overflow: hidden;
}
h3.form__title {
	font-size: 28.8px;
	color: var(--black-1);
	font-weight: 600;
}
.form__wrapper {
	padding:5px 0;
	margin-bottom:2px;
}
.form__wrapper form {
	display: grid;
	grid-template-columns:400px;
	gap: 32px;
	margin-bottom: -130px;
	margin-top: -5px;
}
.form__group{
	margin: 5px;
	position: relative;
	margin-bottom: -25px;

}
.btn.primary-btn{
	text-transform: uppercase;
}

.form__group p{
	font-size: 15px;
	color: red;
	visibility: hidden;

}


.error input{
	border: 3px red solid;
}
.error p{
	visibility: visible;
}
.form__group label {
	font-size: 5px ;
	font-family: Poppins;
	color: var(--black-2);
	font-weight: 500;

}
.form__group input,
.form__group textarea,
.form__group select {
	width: 100%;
	border: none;
	background-color: white;
	color: var(--black-2); 
	font-size: 5px;
	font-family: Raleway;
	font-weight: 400px;
	padding: 5px;
	border-radius: 7px;
	margin-top: 100px;
	margin-bottom:-25px;
	
}
label:focus,
input:focus,
select:focus,
textarea:focus{
    outline: 2px solid #237088;
}
.form__group textarea {
	resize: vertical;
}
.form__wrapper button[type='submit'] {
	width: max-content;
	border: none;
	padding: 16px 64px;
	font-weight: 500;
	letter-spacing: 1.6px;
	display:inline-block
}
@media only screen and (min-width: 700px) {
	.form__title {
		font-size: 57px;
	
	}
	.form__wrapper {
		padding: 3px;
		
	}
	.form__wrapper form {
		grid-template-columns: 400px 400px;
	}
	.form__group__full {
		grid-column: 1/3;
	}
	.form__group label {
		font-size: 20px;
	}
	.form__group input,
	.form__group textarea,
	.form__group select {
		font-size: 20px;
		padding: 10px;
		margin-top: 0px;
	}
}